.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ricardo-gomez-angel-mZBVSxayxtI-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 184px;
  animation-duration: 1000ms;
  margin: 216px auto 0;
}

.u-section-1 .u-text-1 {
  width: 666px;
  font-size: 1.875rem;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 174px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 110px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 107px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 25px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 475px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 25px 0 50px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 451px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 475px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 25px 0 50px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 451px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 674px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 25px 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 451px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-5 .u-text-1 {
  animation-duration: 1000ms;
  margin: 31px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-text-3 {
  font-size: 2.25rem;
  width: 353px;
  margin: 23px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  width: 378px;
  margin: 0 auto;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 10px auto 50px;
  padding: 21px 40px 22px 39px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 82px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  margin: 0 20px 25px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 555px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 901px;
  margin: 25px auto 50px 120px;
}

.u-section-7 .u-image-1 {
  min-height: 511px;
  background-image: url("images/thisisengineering-raeng-w_zE6qlkQKA-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 511px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-group-1 {
  width: 512px;
  min-height: 370px;
  background-image: none;
  margin: 141px auto -30px -91px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 12px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-left: 39px;
  }

  .u-section-7 .u-image-1 {
    min-height: 551px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-7 .u-group-1 {
    width: 490px;
    min-height: 379px;
    margin-top: 142px;
    margin-left: -99px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 499px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-7 .u-group-1 {
    width: 387px;
    min-height: 392px;
    margin-top: 77px;
    margin-left: -87px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-7 .u-image-1 {
    min-height: 660px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-1 {
    width: 470px;
    min-height: 346px;
    margin-top: -92px;
    margin-bottom: 0;
    margin-left: -10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-7 .u-image-1 {
    min-height: 416px;
  }

  .u-section-7 .u-group-1 {
    min-height: 378px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 82px;
}

.u-section-8 .u-text-1 {
  font-weight: 900;
  margin: 0 20px 25px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-top: 60px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 540px;
}

.u-section-9 .u-text-1 {
  width: 680px;
  margin: 25px auto 0;
}

.u-section-9 .u-text-2 {
  width: 680px;
  margin: 8px auto 0;
}

.u-section-9 .u-list-1 {
  min-height: 413px;
  grid-template-rows: auto;
  height: auto;
  margin: 0 0 25px;
}

.u-section-9 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  width: 149px;
  height: 149px;
  background-image: url("images/customer1.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-9 .u-text-4 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-5 {
  width: 206px;
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  width: 149px;
  height: 149px;
  background-image: url("images/customer2.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-9 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-9 .u-text-7 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-8 {
  width: 206px;
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-image-3 {
  width: 149px;
  height: 149px;
  background-image: url("images/customer3.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-9 .u-text-9 {
  margin: 20px 1px 0;
}

.u-section-9 .u-text-10 {
  width: 193px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-11 {
  width: 206px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-9 .u-list-1 {
    min-height: 341px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-9 .u-list-1 {
    min-height: 784px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-list-1 {
    min-height: 885px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 6.66667px);
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}.u-section-10 .u-sheet-1 {
  min-height: 91px;
}

.u-section-10 .u-text-1 {
  font-weight: 900;
  margin: 0 20px 25px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 492px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 452px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 452px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-form-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 373px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-11 .u-form-group-1 {
    width: 100%;
  }

  .u-section-11 .u-form-group-2 {
    width: 100%;
  }

  .u-section-11 .u-form-group-3 {
    width: 100%;
  }

  .u-section-11 .u-form-group-4 {
    width: 100%;
  }
}